next_page                    J
previous_page                K
close_window                 q
fit_to_page_height           a
fit_to_page_width            s
fit_to_page_height_smart     A
fit_to_page_width_smart      S
enter_visual_mark_mode       ~
add_freetext_bookmark        CC
decrease_freetext_font_size  CD
increase_freetext_font_size  CI
reload                       ’
goto_toc		     <tab>
goto_mark                    '
